build==0.1.0
fire==0.3.1
Flask==2.1.0
Flask-RESTful==0.3.9
Flask-Cors==3.0.10
future==0.18.2
google-api-core==1.27.0
google-api-python-client==1.12.8
google-auth-oauthlib==0.4.2
google-auth==1.24.0
google-oauth2-tool==0.0.3
google-oauth==1.0.1
gunicorn==20.0.4
httplib2==0.21.0
numpy==1.23.5
oauth2client==4.1.3
oauthlib==3.2.2
os.path2==0.0.4
pandas==1.1.5
pickle-mixin==1.0.2
print-function==1.0.2
protobuf==4.21.11
pymessenger==0.0.7.0
python-math==0.0.1
pyyaml==5.3.1
regex==2020.11.13
requests==2.25.1

